<div id="content">
  <div class="content-title">Listing Gallery Categories</div>
  <div class="admin-content-layer">
    <%= raw msg_flash(flash) %>
    <%= link_to "Add new Gallery", admin_new_gallery_categories_path %><br /><br /><br />
    <% @categories.each_with_index do |category, x| %>
      <% nm = "no-margin-right" if (x+1)%3 == 0 %>
      <div class="admin-category-gallery <%= nm %>">
        <div class="pic">
          <%= link_to (image_tag category.icon_image.url(:big)), 
                      admin_galleries_path(category.id) %>
        </div>
        <div class="title">
          <%= link_to category.title.humanize, admin_galleries_path(category.id) %>
          <%= "(#{category.galleries.count})" %>
        </div>
        <div class="action">
          <%= link_to "Edit", admin_edit_gallery_categories_path(category.id) %>
        </div>
      </div>
    <% end %>
    <div class="admin-row">
      <%= will_paginate @categories, :link_separator => " | ",
                                 :previous_label => "&laquo; previous",
                                 :next_label => "next &raquo;" %>

    </div>
    <div class="clear"></div>
  </div>
</div>
