<div class="col-md-12 content">
  <h2><%= params[:type].humanize.upcase %> Galleries</h2>
  <p><%= raw msg_flash(flash) %></p>
  <p><%= link_to "Add new Gallery", admin_new_gallery_categories_path %></p>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-xs-6 col-sm-6 col-md-4">
        <div class="col-md-12 category-gallery well">
          <%= link_to (image_tag category.icon_image.url(:big), :class => "img-responsive img-rounded"),
                        admin_galleries_path(category.id) %>
          <div class="title">
            <%= link_to "#{category.title.humanize} (#{category.galleries.count})",
                        admin_galleries_path(category.id) %>
          </div>
          <div class="title">
            <%= link_to "Edit", admin_edit_gallery_categories_path(category.id) %>&nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to "Delete", admin_delete_gallery_categories_path(category.id),
                                :method => :delete, :confirm => "Are you sure?" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
$( document ).ready(function() {
    var heights = $(".well").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".well").height(maxHeight);
});

</script>
