<div class="col-md-12 content">
  <h2><%#= params[:type].humanize.upcase %> GALLERIES</h2>
  <div class="visible-xs hidden-sm hidden-md hidden-lg">
    <% Category.list_type.each_with_index do |category, x| %>
      <% if category[0].humanize == params[:type].humanize %>
        <span class="active"><%= category[0] %></span>
      <% else %>
        <%= link_to category[0], categories_path(category[1]) %>
      <% end %>
      <%= raw "&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;" unless Category.list_type.size == x+1 %>
    <% end %><br /><br /><br />
  </div>
  <div class="hidden-xs col-sm-3 col-md-3">
    <% Category.list_type.each do |category| %>
      <div class="col-md-12 padding_t_b_5 margin_b_10 no_p_lr">
        <% if category[0].humanize == params[:type].humanize %>
          <span class="active">
            <span class="icon-side-menu">
              <%= image_tag "#{category[0].gsub(/\s/,'_').downcase}.png", :class => "sub-menu-icon" %>
            </span>
            <span class="text-side-menu"><%= category[0] %></span>
          </span><br />
        <% else %>
          <%= link_to raw(display_icon_for_gallery(category[0])),
                      categories_path(category[1]) %><br />
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row col-xs-12 col-sm-9 col-md-9">
    <div class="mansory-">
      <% @categories.each do |category| %>
          <%#*<div class="item category-gallery img-rounded col-md-4">%>
            <%#= link_to (image_tag category.icon_image.url(:big), :class => "img-responsive img-rounded"),
                          category_path(category.permalink) %>
            <%#*<div class="title">%>
              <%#= link_to "#{category.title.humanize} (#{category.galleries.count})",
                          category_path(category.permalink) %>
            <%#*</div>%>
          <%#*</div>%>

        <div class="col-xs-6 col-sm-6 col-md-6">
          <div class="col-md-12 category-gallery">
            <%= link_to (image_tag category.icon_image.url(:big), :class => "fix-height img-responsive img-rounded"),
                          category_path(category.permalink) %>
            <div class="title">
              <%= link_to "#{category.title.humanize} (#{category.galleries.count})",
                          category_path(category.permalink) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$( document ).ready(function() {
    var heights = $(".well").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".well").height(maxHeight);
});

</script>
