<div id="content">
  <div class="content-title"><%= params[:type].humanize.upcase %> GALLERIES</div>
  <div class="content-layer">
    <% @categories.each_with_index do |category, x| %>
      <% nm = "no-margin-right" if (x+1)%3 == 0 %>
      <div class="category-gallery <%= nm %>">
        <div class="pic">
          <%= link_to (image_tag category.icon_image.url(:big)),
                      category_path(category.permalink) %>
        </div>
        <div class="title">
          <%= link_to category.title.humanize, category_path(category.permalink) %>
          <%= "(#{category.galleries.count})" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
