<% content_for :javascript_includes do %>
  <%= stylesheet_link_tag "pgwslideshow_light.css" %>
  <%= javascript_include_tag "pgwslideshow.js" %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
      $('.pgwSlideshow').pgwSlideshow({
        autoSlide: true,
        intervalDuration: 10000,
        mainClassName: 'pgwSlideshowLight'
      });
  });
</script>
<div class="visible-xs hidden-sm hidden-md hidden-lg margin_l_r_20">
  <% Category.list_type.each_with_index do |category, x| %>
    <% if category[0].humanize == @category.category_type.humanize %>
      <span class="active"><%= category[0] %></span>
    <% else %>
      <%= link_to category[0], categories_path(category[1]) %>
    <% end %>
    <%= " |" unless Category.list_type.size == x+1 %>
  <% end %><br /><br /><br />
</div>
<div class="hidden-xs col-sm-4 col-md-3">
  <% Category.list_type.each do |category| %>
    <div class="col-md-12 padding_t_b_5 margin_b_5">
      <% if category[0].humanize == @category.category_type.humanize %>
        <span class="active"><%= category[0] %></span><br />
      <% else %>
        <%= link_to category[0], categories_path(category[1]) %><br />
      <% end %>
    </div>
  <% end %>
</div>
<div class="col-xs-12 col-sm-8 col-md-9 content">
  <% title = @category.title == "summer_winter_camp" ? "summer/winter camp" : @category.title %>
  <h2>ABOUT <%= title == "GXNU" ? title : title.titleize.upcase %></h2>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <ul class="pgwSlideshow">
      <% @images.each do |image| %>
        <li>
          <%= image_tag image.gallery_image.url(:big),
                        :alt => image.title.humanize, :data => {:description => image.description} %>
        </li>
      <% end %>
    </ul>
    
    <div class="col-xs-12 col-sm-12 col-md-12">
      <%= raw(@category.description) %>
    </div>
  </div>
  <div class="clear"></div>
</div>
