<% content_for :javascript_includes do %>
  <%= stylesheet_link_tag "colpick" %>
  <%= javascript_include_tag "colpick" %>
<% end %>

<script>
  $(document).ready(function(){
    $('#picker').colpick({
      layout:'hex',
      submit:0,
      colorScheme:'dark',
      onChange:function(hsb,hex,rgb,fromSetColor) {
        if(!fromSetColor) $('#picker').val(hex).css('border-color','#'+hex);
      }
    })
    $('#picker').keyup(function(){
      $(this).colpickSetColor(this.value);
    });
  });



  maxL=300;
  var bName = navigator.appName;
  function taLimit(taObj) {
    if (taObj.value.length==maxL) return true;
    return true;
  }

  function taCount(taObj,Cnt) {
    objCnt = createObject(Cnt);
    objVal=taObj.value;
    //if (objVal.length>maxL) objVal=objVal.substring(0,maxL);
    if (objCnt) {
      if(bName == "Netscape"){
        objCnt.textContent=maxL-objVal.length;}
      else{objCnt.innerText=maxL-objVal.length;}
    }
    return true;
  }
  function createObject(objId) {
    if (document.getElementById) return document.getElementById(objId);
    else if (document.layers) return eval("document." + objId);
    else if (document.all) return eval("document.all." + objId);
    else return eval("document." + objId);
  }

</script>

<div class="field">
  <div class="input-title left"><%= f.label :title, "Title *" %><span>:</span></div>
  <div class="input-box left"><%= f.text_field :title %></div>
</div>
<div class="field" style="height: 50px;">
  <div class="input-title left"><%= f.label :destination, "Destination *" %><span>:</span></div>
  <div class="input-box left">
    <%= f.text_field :destination %><br />
    <p style="float:left;">please use <b>"http://"</b> first e.g. "http://your-destination/"</p>
  </div>
</div>
<div class="field" style="height: 200px;">
  <div class="input-title left"><%= f.label :short_description, "Description *" %><span>:</span></div>
  <div class="input-box left" style="width: 700px;">
    <%= f.text_area :short_description,  :size => "80x10",
                    :onKeyUp => "return taCount(this,'myCounter')" %><br />
    <p style="float:left;">You have <b><span id=myCounter>
      <%= 300- @feature.short_description.try(:size).to_i %>
    </span></b> characters remaining</p>
  </div>
</div>
<div class="field clear-margin">
  <div class="input-title left"><%= f.label :color, "Color *" %><span>:</span></div>
  <div class="input-box left">
    <%= f.text_field :color, :id => "picker", :style => "border-color:##{@feature.color} " %>
  </div>
</div>
