<div class="col-md-12 content">
  <h2>Programs <%= "- #{@category.name.humanize}" unless @category.nil? %></h2>
  <div class="col-md-12">
    <p><%= raw msg_flash(flash) %></p>
    <p>
      <%= link_to "Add new Program", admin_new_feature_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Manage Program categories", admin_feature_categories_path %>
    </p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Short Description</th>
          <th>Category</th>
          <th>Order No</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @features.each_with_index do |feature, x| %>
          <tr>
            <th scope="row"><%= @no+x+1 %></th>
            <td><%= feature.title %></td>
            <td><%= truncate(feature.short_description, :length => 150) %></td>
            <td><%= link_to(feature.try(:feature_category).try(:name),
                     admin_features_by_category_path(feature.try(:feature_category).try(:permalink))) unless feature.try(:feature_category).try(:name).nil? %></td>
            <td><%= feature.order_no %></td>
            <td>
              <% if feature.try(:feature_category).try(:permalink) == "penyetaraan-ijazah" &&
                    feature.permalink.include?("step-by-step") %>
                <%= link_to 'List Child', admin_feature_path(feature.id),
                                                    :class => "btn btn-info" %>
              <% end %>
              <%= link_to "Edit", admin_edit_feature_path(feature), :class => "btn btn-success" %>
              <%= link_to "Delete", admin_feature_path(feature), :method => :delete,
                                    :confirm => "Are you sure?", :class => "btn btn-warning" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="admin-row">
      <%= will_paginate @features, :link_separator => " | ",
                                 :previous_label => "&laquo; previous",
                                 :next_label => "next &raquo;" %>

    </div>
  </div>
</div>
