<div id="content">
  <div class="content-title">Listing Features</div>
  <div class="admin-content-layer">
    <%= raw msg_flash(flash) %>
    <%= link_to "Add new feature", new_admin_feature_path %><br /><br /><br />
    <div class="admin-row border">
      <div class="no">No</div>
      <div class="feature-title">Title</div>
      <div class="sort-desc">Short Description</div>
      <div class="destination">Destination</div>
      <div class="color">Color</div>
      <div class="action">Action</div>
    </div>
    <% @features.each_with_index do |feature, x| %>
      <div class="admin-row">
        <div class="admin-feature no"><%= x+1 %></div>
        <div class="admin-feature feature-title"><%= feature.title %></div>
        <div class="admin-feature sort-desc">
          <%= truncate(feature.short_description, :length => 150) %>
        </div>
        <div class="admin-feature destination"><%= feature.destination %></div>
        <div class="admin-feature color">
          <div class="display"  style="background-color:#<%= feature.color %>">&nbsp; </div>
        </div>
        <div class="admin-feature action">
          <%= link_to "Edit", edit_admin_feature_path(feature) %>&nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to "Delete", admin_feature_path(feature.id ), :method => :delete,
                                :confirm => "Are you sure?" %>
        </div>
      </div>
    <% end %>
    <div class="admin-row">
      <%= will_paginate @features, :link_separator => " | ",
                                 :previous_label => "&laquo; previous",
                                 :next_label => "next &raquo;" %>

    </div>
    <div class="clear"></div>
  </div>
</div>
