<script>
    if ( ($(window).height() + 100) < $(document).height() ) {
      $('#top-link-block').removeClass('hidden').affix({
          // how far to scroll down before link "slides" into view
          offset: {top:100}
      });
    }
</script>
<div  class="col-xs-12 col-sm-12 col-md-12 content">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="list-univ-by-province hidden-xs col-sm-3 col-md-3">
      <h3>University List by Province</h3>
      <div class="col-xs-12 col-sm-12 col-md-12 no-padding-lr">
        <ul>
          <% @universities_by_city.each do |province, universities| %>
            <% temp_province = province.gsub(" ", "-") %>
            <li><%= link_to raw("#{display_icon_for_province(province)} #{province}"), "javascript:void(0)",
                                  :onclick => "display_sub_menu('#{temp_province}');" %>
              <ul class="child" id="<%= temp_province %>">
                <% universities.each do |univ| %>
                  <li><%= link_to univ.name %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-xs-12 col-sm-9 col-md-9">
      <%= render :partial => "search" %>
      <h2><%= "#{@university.city.humanize.titleize} - #{@university.name.humanize.titleize}" %></h2>
      <% if @university.logo_image.file? %>
        <%= image_tag @university.logo_image.url(:medium), :class => "img-responsive" %>
      <% end %>
      <div class="univ-address">
        <%= @university.address %><br /><br />
        <%= @university.city %>, <%= @university.province %><br /><br />
        <% unless @university.website.nil? %>
          <%= link_to @university.website, target_url(@university.website) %><br />
        <% end %>
      </div>
      <% unless @university.phone.nil? %>
        <div class="univ-phone">
          Phone : <%= @university.phone %>
        </div>
      <% end %>
      <div class="text-area">
        <div class="panel-group" id="accordion">
        <% @university_details.each_with_index do |university_detail, x| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <%= link_to university_detail.title.humanize, "#collapse-#{x+1}", :class => "accordion-toggle",
                            :data => {:toggle => "collapse", :parent => "#accordion"} %>
              </h4>
            </div>
            <div id="collapse-<%= x+1 %>" class="panel-collapse collapse">
              <div class="panel-body">
                <%= raw university_detail.description %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 univ-back_button">
  <%= link_to raw("<span class='glyphicon glyphicon-arrow-left' aria-hidden='true'></span> List Universities"),
              universities_path, :class => "btn btn-default", :role => "button"  %>
</div>
<span id="top-link-block" style="display:none;">
    <a href="#top" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="glyphicon glyphicon-chevron-up"></i> Back to Top
    </a>
</span>



