<div id="content">
  <div class="content-title">Edit Testimonial</div>
  <div class="admin-content-layer">
    <%= form_for([:admin, @testimonial], :html => { :multipart => true, :method => :put }) do |f| %>
      <%= f.error_messages %>
      <div class="admin-category-testimonial" style="height: 330px;">
        <%= image_tag @testimonial.picture.url(:medium) %>
      </div><br /><br />
      <%= render :partial => 'form', :locals => { :f => f} %>
      <div class="field">
        <%= f.submit 'Update Testimonial' %>&nbsp;&nbsp;
        <%= link_to 'Back', admin_testimonials_path %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>

