<% content_for :javascript_includes do %>
  <%= javascript_include_tag "/assets/ckeditor/ckeditor" %>
<% end %>

<div class="field">
  <div class="input-title left"><%= f.label :logo_image, "Logo" %><span>:</span></div>
  <div class="input-box left"><%= f.file_field :logo_image %></div>
</div>
<div class="field">
  <div class="input-title left"><%= f.label :name, "Name *" %><span>:</span></div>
  <div class="input-box left"><%= f.text_field :name %></div>
</div>
<div class="field" style="height: 120px;">
  <div class="input-title left"><%= f.label :address, "Address *" %><span>:</span></div>
  <div class="input-box left"><%= f.text_area :address, :size => "43x7" %></div>
</div>
<div class="field clear-margin">
  <div class="input-title left"><%= f.label :province, "Province *" %><span>:</span></div>
  <div class="input-box left"><%= f.text_field :province %></div>
</div>
<div class="field clear-margin">
  <div class="input-title left"><%= f.label :city, "City *" %><span>:</span></div>
  <div class="input-box left"><%= f.text_field :city %></div>
</div>
<div class="field">
  <div class="input-title left"><%= f.label :description, "Description *" %><span>:</span></div>
  <div class="input-box left">&nbsp;</div>
</div>
<div class="field" style="height: 460px;">
  <%= f.cktext_area :description, :ckeditor => {:uiColor => "#F5CDFA", :toolbar => "Basic",
                                              :width=>'755px', :height=>'250px'}  %>
</div>
