<div id="content">
  <div class="content-title">Edit University</div>
  <div class="admin-content-layer">
    <%= form_for([:admin, @university],
                  :html => { :multipart => true, :method => :put }) do |f| %>
      <%= f.error_messages %>
      <div class="admin-category-gallery" style="height: 220px;">
        <%= image_tag @university.logo_image.url(:medium) %>
      </div>
      <%= render :partial => 'form', :locals => { :f => f} %>
      <div class="field">
        <%= f.submit 'Update University' %>&nbsp;&nbsp;
        <%= link_to 'Back', admin_universities_path %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>

