<div class="col-md-12 content">
  <h2>Universities</h2>
  <div class="col-md-12">
    <p><%= raw msg_flash(flash) %></p>
    <p><%= link_to "Add new university", new_admin_university_path %></p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Logo</th>
          <th>Name</th>
          <th>Province</th>
          <th>CIty</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @universities.each_with_index do |university, x| %>
          <tr>
            <th scope="row"><%= @no+x+1 %></th>
            <td><%= image_tag university.logo_image.url(:thumb) %></td>
            <td><%= university.name %></td>
            <td><%= university.province %></td>
            <td><%= university.city %></td>
            <td>
              <%= link_to "Edit", edit_admin_university_path(university), :class => "btn btn-success" %>
              <%= link_to "Delete", admin_university_path(university.id ), :method => :delete,
                                    :confirm => "Are you sure?", :class => "btn btn-warning" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="admin-row">
      <%= will_paginate @universities, :link_separator => " | ",
                                 :previous_label => "&laquo; previous",
                                 :next_label => "next &raquo;" %>
    </div>
  </div>
</div>
