<div id="content">
  <div class="content-title">BOOKS</div>
  <div class="content-layer">
    <% @books.each_with_index do |book, x| %>
      <% nm = "no-margin-right" if (x+1)%3 == 0 %>
      <div class="book-box <%= nm %>">
        <div class="book-pic">
          <%= link_to (image_tag book.book_image.url(:medium)),
                      book_path(book.permalink) %>
        </div>
        <div class="book-title">
          <%= link_to book.name.humanize, book_path(book.permalink) %>
        </div>
        <div class="book-price">
          <%= number_to_currency(book.price.to_i, :unit => "IDR",
                                  :format => "%n %u", :precision => 0) %>
        </div>
      </div>
    <% end %>
    <div class="book-note">
      <%= raw @book_note.content %>
    </div>
    <div class="pagination">
      <%= will_paginate @books, :link_separator => " | ",
                                :previous_label => "&laquo; previous",
                                :next_label => "next &raquo;" %>
    </div>
  </div>
  <div class="clear"></div>
</div>
