<div class="col-md-12 content">
  <h2><%= @book_category.name.humanize.upcase %></h2>
  <div class="visible-xs hidden-sm hidden-md hidden-lg">
    <% BookCategory.all.each_with_index do |book_type, x| %>
      <% if book_type.permalink == @book_category.permalink %>
        <span class="active line-height-sub-menu"><%= book_type.permalink.humanize %></span>
      <% else %>
        <%= link_to link_to book_type.name, books_path(book_type.permalink),
                    :class=>"line-height-sub-menu" %>
      <% end %>
      <%= raw "&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;" unless BookCategory.all.size == x+1 %>
    <% end %><br /><br /><br />
  </div>
  <div class="hidden-xs col-sm-3 col-md-3">
    <% BookCategory.all.each do |book_type| %>
      <div class="col-md-12 padding_t_b_5">
        <% if book_type.permalink == @book_category.permalink %>
          <span class="active"><%= book_type.permalink.humanize %></span><br />
        <% else %>
          <%= link_to book_type.name, books_path(book_type.permalink) %><br />
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row col-xs-12 col-sm-9 col-md-9">
    <% @books.each do |book| %>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="tour-travel img-rounded well">
          <div class="col-xs-6 col-sm-4 col-md-4 image">
            <%= image_tag book.book_image.url(:medium), :class => "img-responsive" %>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-8">
            <div class="book-title"><%= book.name.humanize %></div>
            <div class="book-price">
              <% if book.discount_price.to_i == 0 %>
                <%= number_to_currency(book.price.to_i, :unit => "IDR",
                                    :format => "%n %u", :precision => 0) %>
              <% else %>
                <span class="price-stripe">
                  <%= number_to_currency(book.price.to_i, :unit => "IDR",
                                    :format => "%n %u", :precision => 0) %>
                </span>
                <span class="discount-price">
                  <%= number_to_currency(book.discount_price.to_i, :unit => "IDR",
                                    :format => "%n %u", :precision => 0) %>
                </span>
              <% end %>

            </div>
            <div class="book-desc"><%= raw(book.description) %></div>
          </div>
        </div>
      </div>
    <% end %>
    <%= will_paginate @books, :link_separator => " | ",
                                 :previous_label => "&laquo; previous",
                                 :next_label => "next &raquo;" %>
  </div>

</div>

<script>
$( document ).ready(function() {
    var heights = $(".well").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".well").height(maxHeight);
});

</script>


