<div class="col-md-12 content">
  <h2><%= @book_category.name.humanize.titleize %></h2>
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="tour-travel img-rounded well">
          <div class="col-xs-6 col-sm-4 col-md-4 image">
            <%= image_tag book.book_image.url(:medium), :class => "img-responsive" %>
          </div>
          <div class="col-xs-6 col-sm-8 col-md-8">
            <div class="book-title"><%= book.name.humanize %></div>
            <div class="book-price">
              <% if book.discount_price.to_i == 0 %>
                <%= number_to_currency(book.price.to_i, :unit => "IDR",
                                    :format => "%n %u", :precision => 0) %>
              <% else %>
                <span class="price-stripe">
                  <%= number_to_currency(book.price.to_i, :unit => "IDR",
                                    :format => "%n %u", :precision => 0) %>
                </span>
                <span class="discount-price">
                  <%= number_to_currency(book.discount_price.to_i, :unit => "IDR",
                                    :format => "%n %u", :precision => 0) %>
                </span>
              <% end %>

            </div>
            <div class="book-desc"><%= raw(book.description) %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

<script>
$( document ).ready(function() {
    var heights = $(".well").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".well").height(maxHeight);
});

</script>


