<div class="col-md-12 content">
  <h2>Book Categories</h2>
  <div class="col-md-12">
    <p><%= raw msg_flash(flash) %></p>
    <p><%= link_to "Add new book category", new_admin_book_category_path %></p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @book_categories.each_with_index do |book_category, x| %>
          <tr>
            <th scope="row"><%= @no+x+1 %></th>
            <td><%= book_category.name %></td>
            <td>
              <%= link_to "Edit", edit_admin_book_category_path(book_category), :class => "btn btn-success" %>
              <%= link_to "Delete", admin_book_category_path(book_category.id ), :method => :delete,
                                :confirm => "Are you sure?", :class => "btn btn-warning" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="admin-row">
      <%= will_paginate @book_categories, :link_separator => " | ",
                                 :previous_label => "&laquo; previous",
                                 :next_label => "next &raquo;" %>

    </div>
  </div>
</div>
