<div class="col-md-12 content">
  <% flash.each do |key, value| %>
    <% unless value.blank? %>
      <div class="alert alert-<%= flash_type(key) %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= value %>
      </div>
    <% end %>
  <% end %>
  <h2>STUDY IN CHINA<%#= @child_info.title.upcase %></h2>
  <div class="visible-xs hidden-sm hidden-md hidden-lg">
    <% @list_child_info.each_with_index do |child_info, x| %>
      <% if child_info.permalink == @child_info.permalink %>
        <span class="active line-height-sub-menu"><%= child_info.title.humanize %></span>
      <% else %>
        <%= link_to child_info.title.humanize,
                    study_in_china_child_info_path(child_info.permalink), :class=>"line-height-sub-menu" %>
      <% end %>
      <%= raw "&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;" unless @list_child_info.size == x+1 %>
    <% end %><br /><br /><br />
  </div>
  <div class=" hidden-xs col-sm-3 col-md-3">
    <% @list_child_info.each do |child_info| %>
      <div class="col-md-12 padding_t_b_5 margin_b_10">
        <% if child_info.permalink == @child_info.permalink %>
          <span class="active">
            <span class="icon-side-menu"><%= raw(display_icon(child_info.sub_menu_icon)) %></span>
            <span class="text-side-menu"><%= child_info.title.humanize %></span>
          </span><br />
        <% else %>
          <%= link_to raw(display_icon_and_text(child_info)),
                      study_in_china_child_info_path(child_info.permalink) %><br />
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-9 study-in-china">
    <% if @child_info.permalink.include?("step-by-step") %>
      <div class="panel-group" id="accordion">
        <% @child_info.child_info.each_with_index do |info, x| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <%= link_to raw("#{display_icon(info.sub_menu_icon)}#{info.title.humanize}"),
                            "#collapse-#{x+1}", :class => "#{accordion_with_image(info.sub_menu_icon)}",
                            :data => {:toggle => "collapse", :parent => "#accordion"} %>
              </h4>
            </div>
            <div id="collapse-<%= x+1 %>" class="panel-collapse collapse">
              <div class="panel-body">
                <%= raw info.content %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= raw @child_info.content %><br />
      <% if @child_info.permalink.include?("pendaftaran") %>
      <div class="clear" ></div>
        <div class="col-xs-12 col-sm-12 col-md-12">
           <%= form_for @registration_file, :url => upload_registration_form_path(@child_info.permalink),
                        :html => {:class => "form-horizontal", :multipart => true} do |f| %>
            <%= f.error_messages %>
            <div class="form-group">
              <%= f.label :sender_name, "Name *", :class => "col-xs-12 col-sm-3 col-md-2" %>
              <div class="col-xs-12 col-sm-9 col-md-10">
                <%= f.text_field :sender_name, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :email, "Email *", :class => "col-xs-12 col-sm-3 col-md-2" %>
              <div class="col-xs-12 col-sm-9 col-md-10">
                <%= f.text_field :email, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :attachment, "FIle *", :class => "col-xs-12 col-sm-3 col-md-2" %>
              <div class="col-xs-12 col-sm-9 col-md-10">
                <%= f.file_field :attachment, :class => "control-label btn btn-default btn-file" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-3 col-md-2">&nbsp;</div>
              <div class="col-xs-12 col-sm-9 col-md-10">
                <%= recaptcha_tags %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-3 col-md-2">&nbsp;</div>
              <div class="col-xs-12 col-sm-9 col-md-10">
                <%= f.submit "Upload File", :class => "btn btn-success" %>
              </div>
            </div>
           <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
