<% content_for :javascript_includes do %>
  <%= javascript_include_tag "bootstrap-datepicker", "bootstrap-select", "jquery-birthday-picker.js" %>
  <%= stylesheet_link_tag "bootstrap-datepicker", "bootstrap-select" %>
<% end %>

<div class="col-md-12 content">
  <% flash.each do |key, value| %>
    <% unless value.blank? %>
      <div class="alert alert-<%= flash_type(key) %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= value %>
      </div>
    <% end %>
  <% end %>
  <h2>STUDY IN CHINA<%#= @child_info.title.upcase %></h2>
  <div class="visible-xs hidden-sm hidden-md hidden-lg">
    <% @list_child_info.each_with_index do |child_info, x| %>
      <% if child_info.permalink == @child_info.permalink %>
        <span class="active line-height-sub-menu"><%= child_info.title.humanize %></span>
      <% else %>
        <%= link_to child_info.title.humanize,
                    study_in_china_child_info_path(child_info.permalink), :class=>"line-height-sub-menu" %>
      <% end %>
      <%= raw "&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;" unless @list_child_info.size == x+1 %>
    <% end %><br /><br /><br />
  </div>
  <div class=" hidden-xs col-sm-3 col-md-3">
    <% @list_child_info.each do |child_info| %>
      <div class="col-xs-12 col-sm-12 col-md-12 padding_t_b_5 margin_b_10 no_p_lr">
        <% if child_info.permalink == @child_info.permalink %>
          <span class="active">
            <span class="icon-side-menu"><%= raw(display_icon(child_info.sub_menu_icon)) %></span>
            <span class="text-side-menu"><%= child_info.title.humanize %></span>
          </span><br />
        <% else %>
          <%= link_to raw(display_icon_and_text(child_info)),
                      study_in_china_child_info_path(child_info.permalink) %><br />
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-9 study-in-china">
    <% if @child_info.permalink.include?("step-by-step") %>
      <div class="panel-group" id="accordion">
        <% @child_info.child_info.each_with_index do |info, x| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <%= link_to raw("#{display_icon(info.sub_menu_icon)}#{info.title.humanize}"),
                            "#collapse-#{x+1}", :class => "#{accordion_with_image(info.sub_menu_icon)}",
                            :data => {:toggle => "collapse", :parent => "#accordion"} %>
              </h4>
            </div>
            <div id="collapse-<%= x+1 %>" class="panel-collapse collapse">
              <div class="panel-body">
                <%= raw info.content %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <% if @child_info.permalink == "pendaftaran" %>
        <div class="col-xs-12 col-sm-12 col-md-12">
           <%= form_for @registration_file, :url => upload_registration_form_path(@child_info.permalink),
                        :html => {:class => "form-horizontal", :multipart => true} do |f| %>
            <%= f.error_messages %>
            <div class="form-group">
              <%= f.label :sender_name, raw("Nama <span class='small_font'>(sesuai Paspor)</span> *"),
                          :class => "col-xs-12 col-sm-3 col-md-3" %>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= f.text_field :sender_name, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :phone, "No Tel / Mobile *", :class => "col-xs-12 col-sm-3 col-md-3" %>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= f.text_field :phone, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :email, "Email *", :class => "col-xs-12 col-sm-3 col-md-3" %>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= f.text_field :email, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :birthday, "Tgl Lahir *", :class => "col-xs-12 col-sm-3 col-md-3" %>
              <div class="col-xs-12 col-sm-3 col-md-9 form-inline">
                <div id="birthdayPicker"></div>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :passport_number, "No Paspor *", :class => "col-xs-12 col-sm-3 col-md-3" %>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= f.text_field :passport_number, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :passport_exipred_date, "Exp Paspor *", :class => "col-xs-12 col-sm-3 col-md-3" %>
              <div class="col-xs-12 col-sm-9 col-md-9  form-inline">
                <div id="exp_passport_picker"></div>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :program, "Program Study *", :class => "col-xs-12 col-sm-3 col-md-3" %>
              <div class="col-xs-12 col-sm-9 col-md-9">
                        <% program_study = params[:registration_file].nil? ? nil : params[:registration_file][:program] %>
                        <%= f.select :program, options_for_select(program_study_list,
                                                      program_study),
                                     {:prompt => "-"}, {:class => "selectpicker form-control"} %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :university_1, "Universitas 1 *", :class => "col-xs-12 col-sm-3 col-md-3" %>
              <div class="col-xs-12 col-sm-4 col-md-4">
                <% selected_1 = params[:registration_file].nil? ? nil : params[:registration_file][:university_1] %>
                <%= f.select :university_1, grouped_options_for_select(University.university_list,
                                                      selected_1),
                             {:prompt => "-"}, {:class => "selectpicker form-control"} %>
              </div>
              <%= f.label :major, "Jurusan*", :class => "col-xs-12 col-sm-2 col-md-1 no-padding-right no-padding-left" %>
              <div class="col-xs-12 col-sm-3 col-md-4">
                <%= f.text_field :major, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :university_2, "Universitas 2 *", :class => "col-xs-12 col-sm-3 col-md-3" %>
              <div class="col-xs-12 col-sm-4 col-md-4">
                <% selected_2 = params[:registration_file].nil? ? nil : params[:registration_file][:university_2] %>
                <%= f.select :university_2, grouped_options_for_select(University.university_list,
                                                      selected_2),
                             {:prompt => "-"}, {:class => "selectpicker form-control"} %>
              </div>
              <%= f.label :major_2, "Jurusan*", :class => "col-xs-12 col-sm-2 col-md-1 no-padding-right no-padding-left" %>
              <div class="col-xs-12 col-sm-3 col-md-4">
                <%= f.text_field :major_2, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :other_university, "Universitas Lainnya", :class => "col-xs-12 col-sm-3 col-md-3" %>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= f.text_field :other_university, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :hsk_level, "Level HSK", :class => "col-xs-12 col-sm-3 col-md-3" %>
              <div class="col-xs-12 col-sm-4 col-md-4">
                <% hsk_l = params[:registration_file].nil? ? nil : params[:registration_file][:hsk_level] %>
                <%= f.select :hsk_level, options_for_select(hsk_list, hsk_l),
                             {:prompt => "-"}, {:class => "selectpicker form-control"} %>
              </div>
              <%= f.label :hsk_score, "Nilai HSK", :class => "col-xs-12 col-sm-2 col-md-2 no-padding-right no-padding-left" %>
              <div class="col-xs-12 col-sm-3 col-md-3">
                <%= f.text_field :hsk_score, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :toefl_score, "Nilai TOEFL *", :class => "col-xs-12 col-sm-3 col-md-3" %>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= f.text_field :toefl_score, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group margin_b_0">
              <%= label_tag "syarat", raw("Syarat Dokumen (Mohon ceklist syarat dokumen yang sudah
                                                ada saat ini)"),
                              :class => "col-xs-12 col-sm-12 col-md-12" %>
            </div>
            <div class="form-group">
              <div class="hidden-xs col-sm-3 col-md-3">&nbsp;</div>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="checkbox">
                  <label>
                    <%= f.check_box :fc_legalisir_ijazah, {}, 'yes', 'no' %>
                    Fotokopi Legalisir Ijazah
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :fc_legalisir_translate_ijazah, {}, 'yes', 'no' %>
                    Fotokopi Legalisir Translate Ijazah
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :fc_legalisir_raport_transkip, {}, 'yes', 'no' %>
                    Fotokopi Legalisir Raport/Transkrip
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :fc_legalisir__translate_raport_transkip, {}, 'yes', 'no' %>
                    Fotokopi Legalisir Translate Raport/Transkrip
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :passport, {}, 'yes', 'no' %>
                     Fotokopi Paspor
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :pas_foto, {}, 'yes', 'no' %>
                    Pasfoto ukuran 4x6 dengan latar belakang putih 5 lembar
                  </label>
                </div>
                
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-3 col-md-3">&nbsp;</div>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= recaptcha_tags %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12 col-sm-3 col-md-3">&nbsp;</div>
              <div class="col-xs-12 col-sm-9 col-md-9">
                <%= f.submit "Submit", :class => "btn btn-success" %>
              </div>
            </div>
           <% end %><br /><br />
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <%= raw @child_info.content %><br />
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.birthday').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      orientation: 'auto bottom',
      endDate: '-5340d'
    })
    $('.exp_date').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      orientation: 'auto bottom'
    })
    $("#birthdayPicker").birthdayPicker({
      monthFormat: "long",
      sizeClass: "selectpicker col-md-3 no-padding-lr"
    });
    $("#exp_passport_picker").birthdayPicker({
      monthFormat: "long",
      minAge: 0,
      maxYear: '<%= Date.today.year.to_i + 10 %>',
      sizeClass: "selectpicker col-md-3 no-padding-lr"
    });

  });
</script>
