<div class="col-md-12 content">
  <h2>Banners</h2>
  <div class="col-md-12">
    <p><%= raw msg_flash(flash) %></p>
    <p><%= link_to "Add new banner", new_admin_banner_path %></p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Image</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @banners.each_with_index do |banner, x| %>
          <tr>
            <th scope="row"><%= x+1 %></th>
            <td><%= image_tag  banner.banner_image.url(:medium) %></td>
            <td>

              <%= link_to "Edit", edit_admin_banner_path(banner), :class => "btn btn-success" %>
              <%= link_to "Delete", admin_banner_path(banner.id ), :method => :delete,
                                :confirm => "Are you sure?", :class => "btn btn-warning" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
