<%#*<script>%>
  <%#*$(document).ready(function () {%>
    <%#*$('#user_edit').click(function(event) {%>
      <%#*$('#user_field').slideToggle('fast');%>
    <%#*});%>
  <%#*});%>

<%#*</script>%>

<div id="content">
  <div class="content-title">Admin Page</div>
  <div class="admin-content-layer">
    <%= raw msg_flash(flash) %>


    <!--<p>Hello Admin, do you want change your password?
       <%#*if yes, click <%= link_to "here", "javascript:void(0)", :id => "user_edit" %></p><br /><br />%>

    <%#*<div id="user_field" style="display:none;">%>
      <%#= form_for(@user, :url => admin_dashboard_change_password_path,
                          :html => { :method => :post }) do |f| %>
        <%#= f.error_messages %>
        <%#*<div class="field">%>
          <%#*<div class="input-title left"><%= f.label :email %></div>%>
          <%#*<div class="input-box left">:&nbsp;&nbsp;&nbsp;<%= @user.email %></div>%>
          <%#= f.hidden_field "email",  :value => @user.email %>
        <%#*</div>%>
        <%#*<div class="field">%>
          <%#*<div class="input-title left"><%= f.label :old_password %></div>%>
          <%#*<div class="input-box left">:&nbsp;&nbsp;%>
            <%#= f.password_field :old_password %>
          <%#*</div>%>
        <%#*</div>%>
        <%#*<div class="field">%>
          <%#*<div class="input-title left"><%= f.label :password %></div>%>
          <%#*<div class="input-box left">:&nbsp;&nbsp;%>
            <%#= f.password_field :password %>
          <%#*</div>%>
        <%#*</div>%>
        <%#*<div class="field">%>
          <%#*<div class="input-title left"><%= f.label :password_confirmation %></div>%>
          <%#*<div class="input-box left">:&nbsp;&nbsp;%>
            <%#= f.password_field :password_confirmation %>
          <%#*</div>%>
        <%#*</div>%>
        <%#*<div class="clear"></div><br />%>
        <%#*<div class="admin-actions">%>
          <%#= f.submit 'Update' %>&nbsp;&nbsp;
        <%#*</div>%>
      <%# end %>
    <%#*</div>%>
    <div class="clear"></div>-->
  </div>
</div>