<% content_for :javascript_includes do %>
  <%= javascript_include_tag "/assets/ckeditor/ckeditor" %>
<% end %>

<div class="field">
  <div class="input-title left"><%= f.label :title %></div>
  <div class="input-box left">:&nbsp;&nbsp;
    <% if ["about_us", "book_note"].include?(@information.title) %>
      <%= @information.title.humanize %>
    <% else %>
      <%= f.text_field :title %>
    <% end %>
  </div>
</div>
<div class="field">
  <div class="input-title left"><%= f.label :content %></div>
  <div class="input-box left">:&nbsp;</div>
</div>
<div class="field" style="height: 475px;">
    <%= f.cktext_area :content, :ckeditor => {:uiColor => "#F5CDFA", :toolbar => "Basic",
                                              :width=>'760px', :height=>'250px'}  %>
</div>
<div class="clear"></div>
<br />
