<div id="content">
  <div class="content-title">New Information</div>
  <div class="admin-content-layer">
    <%= form_for([:admin, @information], :html => { :multipart => true},
    :url => admin_informations_path ) do |f| %>
      <%= f.error_messages %>
      <%= render :partial => 'form', :locals => { :f => f} %>
      <div class="field">
        <%= f.submit 'Create Information' %>&nbsp;&nbsp;
        <%= link_to 'Back', admin_informations_path %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>
