<div id="content">
  <div class="content-title">Edit Book</div>
  <div class="admin-content-layer">
    <%= form_for([:admin, @book], :html => { :multipart => true, :method => :put }) do |f| %>
      <%= f.error_messages %>
      <div class="admin-category-testimonial" style="height: 200px;">
        <%= image_tag @book.book_image.url(:medium) %>
      </div><br />
      <%= render :partial => 'form', :locals => { :f => f} %>
      <div class="field">
        <%= f.submit 'Update Book' %>&nbsp;&nbsp;
        <%= link_to 'Back', admin_books_path %>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>

