<div class="col-md-12 content">
  <h2>Books</h2>
  <div class="col-md-12">
    <p><%= raw msg_flash(flash) %></p>
    <p>
      <%= link_to "Add new book", new_admin_book_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Manage book categories", admin_book_categories_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Edit Note", edit_admin_information_path("book_note") %>
    </p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Available</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @books.each_with_index do |book, x| %>
          <tr>
            <th scope="row"><%= @no+x+1 %></th>
            <td><%= image_tag book.book_image.url(:thumb) %></td>
            <td><%= book.name %></td>
            <td><%= book.price %></td>
            <td><%= book.available? %></td>
            <td>
              <%= link_to "Edit", edit_admin_book_path(book), :class => "btn btn-success" %>
              <%= link_to "Delete", admin_book_path(book.id ), :method => :delete,
                                    :confirm => "Are you sure?", :class => "btn btn-warning" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="admin-row">
      <%= will_paginate @books, :link_separator => " | ",
                                 :previous_label => "&laquo; previous",
                                 :next_label => "next &raquo;" %>

    </div>
  </div>
</div>
