<% content_for :javascript_includes do %>
  <%= javascript_include_tag "bootstrap-datepicker", "bootstrap-select", "jquery-birthday-picker" %>
  <%= stylesheet_link_tag "bootstrap-datepicker", "bootstrap-select" %>
<% end %>

<div class="col-md-12 content">
  <h2>NEWS & PROGRAMS <%#= @program_category.name.upcase %></h2>
  <% flash.each do |key, value| %>
    <% unless value.blank? %>
      <div class="alert alert-<%= flash_type(key) %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= value %>
      </div>
    <% end %>
  <% end %>
  <div class="visible-xs hidden-sm hidden-md hidden-lg">
    <% @program_categories.each_with_index do |program_category, x| %>
      <% if program_category.permalink == @program_category.permalink %>
        <span class="active line-height-sub-menu"><%= program_category.name.humanize.titleize %></span>
      <% else %>
        <%= link_to program_category.name.humanize, programs_path(program_category.permalink),
                    :class=>"line-height-sub-menu" %>
      <% end %>
      <%= raw "&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;" unless @program_categories.size == x+1 %>
    <% end %><br /><br /><br />
  </div>
  <div class=" hidden-xs col-sm-3 col-md-3">
    <% @program_categories.each do |program_category| %>
      <div class="col-xs-12 col-sm-12 col-md-12 padding_t_b_5 margin_b_10 no_p_lr">
        <% if program_category.permalink == @program_category.permalink %>
          <span class="active">
            <span class="icon-side-menu"><%= raw(display_icon(program_category.sub_menu_icon)) %></span>
            <span class="text-side-menu"><%= program_category.name.humanize.titleize %></span>
          </span><br />
        <% else %>
          <%= link_to raw(display_icon_and_text(program_category)),
                      programs_path(program_category.permalink) %><br />
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-9 programs-header">
    <div class="panel-group" id="accordion">
      <% @programs.each_with_index do |program, x| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <%= link_to raw("#{display_icon(program.sub_menu_icon)}#{program.title.humanize}"),
                          "#collapse-#{x+1}", 
                          :class => "#{accordion_with_image(program.sub_menu_icon)}",
                          :data => {:toggle => "collapse", :parent => "#accordion"} %>
            </h4>
          </div>
          <div id="collapse-<%= x+1 %>"
               class="panel-collapse collapse <%= open_accordion(program, @program) %>">
            <div class="panel-body no-padding-lr margin_l_40_r_20">
              <% if program.feature_image.file? %>
                <span class="thumbnail program-image">
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">
                            <%= program.feature_image_file_name %>
                          </h4>
                        </div>
                        <div class="modal-body">
                          <%= image_tag program.feature_image.url, :class => "img-responsive" %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%= link_to (image_tag program.feature_image.url(:medium), :class => "img-responsive"),
                               "#", :data => {:toggle=>"modal", :target => "#myModal"} %>
                </span>
              <% end %>
              <% if program.permalink == "pendaftaran-beasiswa" %>
                <div class="col-xs-12 col-sm-12 col-md-12">
                   <%= form_for @registration_file, :url => program_upload_registration_form_path(@program_category.permalink),
                                :html => {:class => "form-horizontal", :multipart => true} do |f| %>
                    <%= f.error_messages %>
                    <%= hidden_field_tag "registration_file[beasiswa]", "yes" %>
                    <div class="form-group">
                      <%= f.label :sender_name, raw("Nama <span class='small_font'>(sesuai Paspor)</span> *"),
                                  :class => "col-xs-12 col-sm-3 col-md-3 no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-9">
                        <%= f.text_field :sender_name, :class => "form-control" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :email, "Email *", :class => "col-xs-12 col-sm-3 col-md-3 no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-9">
                        <%= f.text_field :email, :class => "form-control" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :birthday, "Tgl Lahir *", :class => "col-xs-12 col-sm-3 col-md-3 no-padding-left" %>
                      <div class="col-xs-12 col-sm-3 col-md-9 form-inline">
                        <div id="birthdayPicker2"></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :passport_number, "No Paspor *", :class => "col-xs-12 col-sm-3 col-md-3 no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-9">
                        <%= f.text_field :passport_number, :class => "form-control" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :passport_exipred_date, "Exp Paspor *", :class => "col-xs-12 col-sm-3 col-md-3 no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-9">
                        <%= f.text_field :passport_exipred_date, :class => "form-control exp_date" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :program, "Program Study *", :class => "col-xs-12 col-sm-3 col-md-3 no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-9">
                        <% program_study = params[:registration_file].nil? ? nil : params[:registration_file][:program] %>
                        <%= f.select :program, options_for_select(program_study_list,
                                                      program_study),
                                     {:include_blank => true}, {:class => "selectpicker form-control"} %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :university_1, "Universitas 1 *", :class => "col-xs-12 col-sm-3 col-md-3 no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-4">
                        <% selected_1 = params[:registration_file].nil? ? nil : params[:registration_file][:university_1] %>
                        <%= f.select :university_1, grouped_options_for_select(University.university_list,
                                                      selected_1),
                                     {:include_blank => true}, {:class => "selectpicker form-control"} %>
                      </div>
                      <%= f.label :major, "Jurusan*", :class => "col-xs-12 col-sm-3 col-md-1 no-padding-right no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-4">
                        <%= f.text_field :major, :class => "form-control" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :university_2, "Universitas 2 *", :class => "col-xs-12 col-sm-3 col-md-3 no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-4">
                        <% selected_2 = params[:registration_file].nil? ? nil : params[:registration_file][:university_2] %>
                        <%= f.select :university_2, grouped_options_for_select(University.university_list,
                                                      selected_2),
                                      {:include_blank => true}, {:class => "selectpicker form-control"} %>
                      </div>
                      <%= f.label :major_2, "Jurusan*", :class => "col-xs-12 col-sm-3 col-md-1 no-padding-right no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-4">
                        <%= f.text_field :major_2, :class => "form-control" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :other_university, "Universitas Lainnya *", :class => "col-xs-12 col-sm-3 col-md-3 no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-9">
                        <%= f.text_field :other_university, :class => "form-control" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :hsk_level, "Level HSK *", :class => "col-xs-12 col-sm-3 col-md-3 no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-9">
                        <% hsk_l = params[:registration_file].nil? ? nil : params[:registration_file][:hsk_level] %>
                        <%= f.select :hsk_level, options_for_select(hsk_list, hsk_l),
                                     {:include_blank => true}, {:class => "selectpicker form-control"} %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :hskk_level, "Level HSKK *", :class => "col-xs-12 col-sm-3 col-md-3 no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-9">
                        <% hskk_l = params[:registration_file].nil? ? nil : params[:registration_file][:hskk_level] %>
                        <%= f.select :hsk_level, options_for_select(hskk_list, hskk_l),
                                     {:include_blank => true}, {:class => "selectpicker form-control"} %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= f.label :toefl_score, "Nilai TOEFL *", :class => "col-xs-12 col-sm-3 col-md-3 no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-9">
                        <%= f.text_field :toefl_score, :class => "form-control" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <%= label_tag "syarat",  raw("Syarat Dokumen<br />
                                               <span class='small_font'>(Mohon ceklist syarat dokumen yang sudah 
                                                ada saat ini)</span>"),
                                    :class => "col-xs-12 col-sm-3 col-md-3 no-padding-left" %>
                      <div class="col-xs-12 col-sm-9 col-md-9">
                        <div class="checkbox">
                          <label>
                            <%= f.check_box :fc_legalisir_ijazah, {}, 'yes', 'no' %>
                            Fotokopi Legalisir Ijazah
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <%= f.check_box :fc_legalisir_translate_ijazah, {}, 'yes', 'no' %>
                            Fotokopi Legalisir Translate Ijazah
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <%= f.check_box :fc_legalisir_raport_transkip, {}, 'yes', 'no' %>
                            Fotokopi Legalisir Raport/Transkrip
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <%= f.check_box :fc_legalisir__translate_raport_transkip, {}, 'yes', 'no' %>
                            Fotokopi Legalisir Translate Raport/Transkrip
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <%= f.check_box :passport, {}, 'yes', 'no' %>
                             Fotokopi Paspor
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <%= f.check_box :pas_foto, {}, 'yes', 'no' %>
                            Pasfoto ukuran 4x6 dengan latar belakang putih 5 lembar
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <%= f.check_box :medical_check_up, {}, 'yes', 'no' %>
                            Medical Checkup
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <%= f.check_box :study_plan, {}, 'yes', 'no' %>
                            Study Plan
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <%= f.check_box :surat_rekomendasi, {}, 'yes', 'no' %>
                            2 Buah Surat Rekomendasi
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <%= f.check_box :hsk, {}, 'yes', 'no' %>
                            HSK
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <%= f.check_box :hskk, {}, 'yes', 'no' %>
                            HSKK
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <%= f.check_box :toefl, {}, 'yes', 'no' %>
                            TOEFL
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <%= f.check_box :proposal_disertasi, {}, 'yes', 'no' %>
                            Proposal Disertasi
                          </label>
                        </div>

                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12 col-sm-3 col-md-3">&nbsp;</div>
                      <div class="col-xs-12 col-sm-9 col-md-9">
                        <%= recaptcha_tags %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12 col-sm-3 col-md-3">&nbsp;</div>
                      <div class="col-xs-12 col-sm-9 col-md-9">
                        <%= f.submit "Submit", :class => "btn btn-success" %>
                      </div>
                    </div>
                   <% end %><br /><br />
                </div>
              <% end %>
              <div class="col-xs-12 col-sm-12 col-md-12 news-information">
                <%= raw program.description %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
$(window).load(function() {
    $('.birthday').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      orientation: 'auto bottom',
      endDate: '-5340d'
    })
    $("#birthdayPicker2").birthdayPicker({
      monthFormat: "long",
      sizeClass: "col-md-4 no-padding-lr form-control"
    });
    $('.exp_date').datepicker({
      format: 'yyyy-mm-dd',
      autoclose: true,
      orientation: 'auto bottom'
    })
    if( $('#myModal').length == 1){
      $('#myModal').modal('show');
    }
});
</script>
<!--


<div class="col-md-12 content">
  <%#*<h2>PROGRAMS</h2>%>
  <%# @program_categories.each do |program_category| %>
    <%#*<div class="col-xs-12 col-sm-6 col-md-4 margin_b_30">%>
        <%#*<div class="col-md-12 mini-table-head well-height" style="background-color:#<%= program_category.color %>">%>
          <%#= program_category.name.humanize.titleize %>
        <%#*</div>%>
        <%#*<div class="col-md-12 mini-table-mid">%>
          <%#*<ul>%>
            <%# program_category.features.each do |program| %>
              <%#*<li><%= link_to program.title, program_path(program.permalink) %></li>%>
            <%# end %>
          <%#*</ul>%>
        <%#*</div>%>
        <%#*<div class="col-md-12 mini-table-foot" style="background-color:#<%= program_category.color %>">%>
          <%#*&nbsp;%>
        <%#*</div>%>
    <%#*</div>%>
  <%# end %>
<%#*</div>%>

<script>
$( document ).ready(function() {
    var heights = $(".well-height").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".well-height").height(maxHeight);
});

</script>
-->