<div id="content">
  <div class="content-title">NEWS</div>
  <div class="content-layer news-layer">
     <% @all_news.each_with_index do |news, x| %>
      <% nm = "no-margin-right" if (x+1)%3 == 0 %>
      <div class="mini-table <%= nm %>">
        <div class="mini-table-main mini-table-head" style="background-color:#<%= news.color %>">
          <%= news.title %>
        </div>
        <div class="mini-table-mid">
          <% if news.feature_image.file? %>
            <span class="image">
              <%= image_tag news.feature_image.url(:thumb), :size => "105x140" %>
            </span>
          <% end %>
          <span class="desc">
            <%= news.short_description %>
          </span>
        </div>
        <div class="mini-table-main mini-table-low" style="background-color:#<%= news.color %>">
          <%= link_to "Read more", feature_path(news.id), :style => "background-color:##{news.color}" %>
        </div>
      </div>
    <% end %>
    <div class="pagination">
      <%= will_paginate @all_news, :link_separator => " | ",
                                :previous_label => "&laquo; previous",
                                :next_label => "next &raquo;" %>
    </div>
  </div>
  <div class="clear"></div>
</div>
