<!DOCTYPE html>
<html>
<head>
  <title>Huaxia</title>
  <%= stylesheet_link_tag "light/light.css", "nivo-slider.css", "application" %>
  <%= javascript_include_tag "jquery-1.7.1.min.js", "application.js", "jquery.nivo.slider.js" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="container">
    <div id="header">
      <div class="header-logo">
        <%= link_to (image_tag "huaxia_logo.png"), root_path %>
      </div>
      <div class="sosmed">
        <%= link_to raw("<div class='facebook'>#{
            image_tag "facebook_logo.jpg"}<span>icec HuaXia</span></div>"), "#" %>
        <%= link_to raw("<div class='twitter'>#{
            image_tag "twitter_logo.jpg"}<span>HuaXia ICEC</span></div>"), "#" %>
      </div>
      <div id="nav-menu">
        <ul class='down-menu'>
          <li class="no-border"><%= link_to "Home", root_path %></li>
          <li><%= link_to "About Us", about_us_path %></li>
          <li id="parent-list-info"><span class="nav-title">Study In China</span>
            <ul class="list-info">
              <li>
                <% @informations.each do |information| %>
                  <span><%= link_to information.title.humanize.titleize,
                                    info_path(information.permalink) %></span><br />
                <% end %>
              </li>
            </ul>
          </li>
          <li><%= link_to "Galleries", categories_path %>
          </li>
          <li id="parent-list-univ"><span class="nav-title">Universities</span>
            <ul class="list-univ">
              <% @universities.each do |small_univ| %>
                <li>
                  <% small_univ.each do |univ| %>
                    <span><%= link_to univ.name, university_path(univ.permalink) %></span><br />
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "News", features_path %></li>
          <li id="parent-list-book"><span class="nav-title">Books</span>
            <ul class="list-book">
              <li>
                <% Book.list_type.each do |book_type| %>
                  <span><%= link_to book_type[0],
                                    books_path(book_type[1]) %></span><br />
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <%= yield %>
    <div class="clear"></div>
    <div id="footer">
      <em></em>
      <div class="nav-footer">
        <ul>
          <%= link_to raw("<li>Home</li>"), root_path %>
          <%= link_to raw("<li>About Us</li>"), about_us_path %>
          <%= link_to raw("<li>Info Study</li>"),
            (@temp_info .nil? ? "#" : (info_path(@temp_info.permalink))) %>
          <%= link_to raw("<li>Galleries</li>"), categories_path %>
          <%= link_to raw("<li>Universities</li>"),
            (@temp_univ.nil? ? "#" : (university_path(@temp_univ.permalink))) %>
          <%= link_to raw("<li>News</li>"), features_path %>
          <%= link_to raw("<li class='none-border'>Books</li>"),
                      books_path("buku_ajar_tk") %>
        </ul><br />
        <p>Copyright ©  <%= Date.today.year %>, huaxia-icec.com - all rights reserved</p>
      </div>
    </div>
  </div>

</body>
</html>
