<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>HuaXia ICEC</title>
  <%= stylesheet_link_tag "light/light.css", "nivo-slider.css", "bootstrap.css", "application" %>
  <%= javascript_include_tag "jquery-1.9.1.js", "bootstrap.js", "application.js", "jquery.nivo.slider.js" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <%= image_tag "logo.png", :class => "img-responsive img-center" %>
  </header>
  <nav>
    <div class="container">
      <div class="navbar-default">
        <%= link_to "HuaXia ICEC", root_path, :class => "navbar-toggle navbar-brand",
                    :style => "border-bottom-color: #fffbef;" %>
        <button data-target="#menu-nav" data-toggle="collapse" class="navbar-toggle" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu-nav" style="padding-right:0px">
          <ul class="nav navbar-nav">
            <li><%= link_to "HuaXia ICEC", root_path, :class => "#{active_menu('home')}" %></li>
            <li><%= link_to "About Us", about_us_path, :class => "#{active_menu('about_us')}" %></li>
            <li><%= link_to "Study In China", study_in_china_path, :class => "#{active_menu('info_study')}" %></li>
            <li><%= link_to "Galleries", categories_path('city'), :class => "#{active_menu('galleries')}" %></li>
            <li>
              <%= link_to "Universities", universities_path("Guilin"),
                          :class => "#{active_menu('universities')}" %>
            </li>
            <li><%= link_to raw("News & <br />Programs"), programs_path(FeatureCategory.default.permalink),
                            :class => "#{active_menu('features')}", :style => "padding-top:0px;" %></li>
            <li>
              <%= link_to "Books", books_path(BookCategory.first.permalink),
                  :class => "#{active_menu('books')}" %>
            </li>
            <li class="student-a-left">
              <%= link_to raw("Student<br />Association"), 
                              student_associations_path(StudentAssociation.default.permalink),
                              :class => "#{active_menu('student_associations')}", :style => "padding-top:0px;" %>
            </li>
            <li><%= link_to "Tour & Travel", tour_travels_path, :class => "#{active_menu('tour_travels')}" %></li>
          </ul>
        </div>
      </div>
    </div>    
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <div class="container">
      <div class="row hidden-xs hidden-xm col-md-8 no-margin-right no-padding-right">
        <div class=" row hidden-xs hidden-xm col-md-12 nav-footer no-margin-right no-padding-right">
          <ul>
            <%= link_to raw("<li>Home</li>"), root_path %>
            <%= link_to raw("<li>About Us</li>"), about_us_path %>
            <%= link_to raw("<li>Study In China</li>"),study_in_china_path %>
            <%= link_to raw("<li>Galleries</li>"), categories_path("city") %>
            <%= link_to raw("<li>Universities</li>"), universities_path("Guilin") %>
            <%= link_to raw("<li>News & <br/ >Programs</li>"), programs_path(FeatureCategory.first.permalink) %>
            <%= link_to raw("<li>Books</li>"), books_path(BookCategory.first.permalink) %>
            <%= link_to raw("<li>Student<br />Association</li>"), 
                        student_associations_path(StudentAssociation.default.permalink) %>
            <%= link_to raw("<li class='none-border'>Tour & Travel</li>"),
                        tour_travels_path %>
          </ul><br />
        </div>
        <div class="row hidden-xs hidden-xm col-md-12 copyright">
          Copyright ©  <%= Date.today.year %>, huaxia-icec.com - all rights reserved
        </div>
      </div>
      <div class="col-md-4 col-xs-12" style="display:inline-table">
        <%= image_tag "contact.png", :class => "upper-image", :style => "float:left" %>
        <div class="contact-us-fot-header">Contact Us</div>
        <div class="contact-us-fot-content">
          HuaXia ICEC<br />
          Jenderal Sudirman Street, Ruko Kapitol CC3<br />
          Bandung 40241<br />
          Phone : Office: 022-4214535<br />
          E-mail : huaxia.icec@gmail.com<br />
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
