<% content_for :javascript_includes do %>
  <%= stylesheet_link_tag "buttons.css", "animate.css", "bootstrap-notify.css" %>
  <%= javascript_include_tag "jquery.noty.packaged.js", "bootstrap-notify.js" %>
<% end %>

<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
          effect: 'fade',
          pauseTime: 3000,
          animSpeed: 400,
          directionNav: false
        });
        $('.list-univ-at-map-box').each(function() { // Notice the .each() loop, discussed below
          $(this).qtip({
              content: {
                  text: $(this).next('div') // Use the "div" element next to this for the content
              },
            hide: {
                fixed: true,
                delay: 300
            },
            position: {
                at: 'center'
            }
          });
      });
    });

  function generate(type, text) {
    var n = noty({
        text        : text,
        type        : type,
        dismissQueue: true,
        layout      : 'bottomLeft',
        closeWith   : ['button'],
        theme       : 'relax',
        maxVisible  : 10,
        animation   : {
            open  : 'animated bounceInLeft',
            close : 'animated bounceOutLeft',
            easing: 'swing',
            speed : 500
        }
    });
    console.log('html: ' + n.options.id);
  }

  function generateAll() {
    var cars = ["success", "information", "warning", "error"];
    <% @programs.each_with_index do |program, index|  %>
      title = "<a href='/programs/<%= program.permalink %>'><%= program.title %></a>"
      sort_desc = "<a href='/programs/<%= program.permalink %>'><%= program.short_description %></a>"
      text = "<div class='activity-item'> \n\
                <i class='glyphicon glyphicon-list-alt'></i> \n\
                <div class='activity'> \n\
                  "+ title +" \n\
                  <span>"+ sort_desc +"</span>  \n\
                </div>  \n\
            </div>"

      generate(cars[<%= index %>], text);
    <%  end %>
  }

  $(document).ready(function () {

      setTimeout(function() {
          generateAll();
      }, 500);
  });

  </script>

<div class="col-md-12 content">
  <div id="wrapper" class="hidden-xs hidden-xm col-md-12">
    <div class="slider-wrapper theme-light">
      <div id="slider" class="nivoSlider">
        <% @banners.each do |banner| %>
          <%= image_tag banner.banner_image.url(:big) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;
    <h2>China Map</h2>
    <%= image_tag "china-map.png", :class => "img-responsive" %>
    <div class="gxnu-description hidden-xs">
      <% @list_univs.each do |province, province_univs| %>
        <div class="list-univ-at-map-box" id="<%= province.downcase %>">&nbsp;</div>
        <div class="list-univ-at-map">
          <% province_univs = province_univs.group_by{|m| m.city} %>
          <% province_univs.each do |city, univs| %>
            <p><%= city %></p>
            <ul>
              <% univs.each do |univ| %>
                <li><%= link_to univ.name, university_path(province, univ.permalink) %></li>
              <% end %>
            </ul>
          <% end  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

