  <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
          effect: 'fade',
          pauseTime: 3000,
          animSpeed: 400,
          directionNav: false
        });
    });
  </script>

<div id="content-home">
  <div id="wrapper" style="margin:0px 0 25px 0;padding:0 65px;">
    <div class="slider-wrapper theme-light">
      <div id="slider" class="nivoSlider">
        <% @banners.each do |banner| %>
          <%= image_tag banner.banner_image.url(:big) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="content-left">&nbsp;
    <div class="gxnu-title">CHINA MAP
    </div>
    <div class="gxnu-description">
      <%#= raw @gxnu.content %>
    </div>
    <div class="gxnu-more">
      <%#= link_to "More >>" %>
    </div>
  </div>

  <div class="content-right">
    <div class="graduated-student">
      <div class="graduated-student-up-down">
        <span>HIMIGNU</span>
      </div>
      <div class="graduated-student-mid">
        <div class="testi-pic">
          <%= image_tag "himignu.png" %>
        </div>
        <div class="testi">
          <div class="testi-content">
            Himignu yang merupakan singkatan dari Himpunan Mahasiswa Indonesia Guangxi Normal
            University, merupakan wadah bagi anak-anak Indonesia yang bersekolah di kota Guilin. 
            Mengapa Guangxi Normal University? Karena di Guangxi Normal University inilah
            merupakan pusat kegiatan acara dari seluruh rangkaian kegiatan Himignu ini.
            Anggota dari Himignu bukan hanya berasal dari Guangxi Normal University,
            namun juga berasal dari Guilin Medical University, Guilin Ligong University,
            dan Guilin Institute Tourism.
          </div>
        </div>
      </div>
      <div class="graduated-student-up-down text-right">
        <%= link_to "READ MORE", "http://himignu-ppitguilin.com" %>
      </div>
    </div>
  </div>

  <div class="features">
    <% @features.each_with_index do |feature, x| %>
      <% nm = "no-margin-right" if (x+1)%3 == 0 %>
      <div class="mini-table <%= nm %>">
        <div class="mini-table-main mini-table-head" style="background-color:#<%= feature.color %>">
          <%= feature.title %>
        </div>
        <div class="mini-table-mid">
          <span>
            <%= feature.short_description %>
          </span>
        </div>
        <div class="mini-table-main mini-table-low" style="background-color:#<%= feature.color %>">
          <%= link_to "Read more", feature.destination, :style => "background-color:##{feature.color}" %>
        </div>
      </div>
    <% end %>
  </div>
 <!--
    
    -->

    <div class="clear"></div>
</div>

