<div class="col-md-12 content">
  <h2>ABOUT US<%#= @child_info.title.upcase %></h2>
  <div class="visible-xs hidden-sm hidden-md hidden-lg sub-menu-font">
    <% @list_child_info.each_with_index do |child_info, x| %>
      <% if child_info.permalink == @child_info.permalink %>
        <span class="active line-height-sub-menu"><%= child_info.title.humanize %></span>
      <% else %>
        <%= link_to child_info.title.humanize,
                    about_us_child_info_path(child_info.permalink), :class=>"line-height-sub-menu" %>
      <% end %>
      <%= raw "&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;" unless @list_child_info.size == x+1 %>
    <% end %><br /><br /><br />
  </div>
  <div class="hidden-xs col-sm-3 col-md-3">
    <% @list_child_info.each do |child_info| %>
      <div class="col-md-12 padding_t_b_5 margin_b_10">
        <% if child_info.permalink == @child_info.permalink %>
          <span class="active">
            <span class="icon-side-menu"><%= raw(display_icon(child_info.sub_menu_icon)) %></span>
            <span class="text-side-menu"><%= child_info.title.humanize %></span>
          </span><br />
        <% else %>
          <%= link_to raw(display_icon_and_text(child_info)),
                      about_us_child_info_path(child_info.permalink) %><br />
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-9">
    <%= raw @child_info.content %>
  </div>
</div>
