<div class="col-md-12 content">
  <h2>'<%= @category.title.humanize %>' Images</h2>
  <div class="col-md-12">
    <p><%= raw msg_flash(flash) %></p>
    <p>
      <%= link_to "Back", admin_list_gallery_category_path(@category.category_type) %>&nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "Add new gallery", admin_new_gallery_path %>
    </p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Image</th>
          <th>Title</th>
          <th>Description</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @galleries.each_with_index do |gallery, x| %>
          <tr>
            <th scope="row"><%= @no+x+1 %></th>
            <td><%= image_tag  gallery.gallery_image.url(:thumb) %></td>
            <td><%= gallery.title %></td>
            <td><%= gallery.description %></td>
            <td>
              <%= link_to "Edit", admin_edit_gallery_path(:category_id => @category.id, :id => gallery.id ),
                                    :class => "btn btn-success" %>
              <%= link_to "Delete", admin_gallery_path(:category_id => @category.id, :id => gallery.id ),
                                      :method => :delete,
                                      :confirm => "Are you sure?", :class => "btn btn-warning" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="admin-row">
      <%= will_paginate @galleries, :link_separator => " | ",
                                 :previous_label => "&laquo; previous",
                                 :next_label => "next &raquo;" %>

    </div>
  </div>
</div>
